doctype html5
html.chrometwo.legacyfalse
    head
        title Access Labs Log Reaper
        script(type="text/javascript",src="js/bower_components/d3/d3.min.js")
        script(type="text/javascript",src="js/lib/dygraphs/dygraph-combined.js")
        link(rel="stylesheet",type="text/css",media="all",href="/chrome_themes/umbra/s/chrometwo.css")
        link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css",rel="stylesheet")

        script(type="text/javascript",src="/webassets/avalon/j/lib/require.js")

        //http://modernizr.com/download/#-fontface-backgroundsize-borderimage-borderradius-boxshadow-flexbox-flexboxlegacy-hsla-multiplebgs-opacity-rgba-textshadow-cssanimations-csscolumns-generatedcontent-cssgradients-cssreflections-csstransforms-csstransforms3d-csstransitions-draganddrop-postmessage-webworkers-inlinesvg-svg-svgclippaths-touch-shiv-cssclasses-prefixed-teststyles-testprop-testallprops-hasevent-prefixes-domprefixes-cors-dataview_api-file_api-forms_fileinput-file_filesystem-notification-performance-load
        //script(src="/labs/logreaper/js/lib/modernizr/modernizr.custom.js")
        //script(type="text/javascript").
        //    if (window.File && window.FileReader && window.FileList && window.Blob) {
        //    } else {
        //        alert('The File APIs are not fully supported in this browser.');
        //    }
        //
        //    if (!Modernizr.webworkers) {
        //        throw Error('Web Workers are not available, you cannot use Red Hat Log Reaper in this browser')
        //        alert('Web Workers are not available, you cannot use Red Hat Log Reaper in this browser');
        //    }
        //    if (!Modernizr.filereader) {
        //        throw Error('The File API is not available, you cannot use Red Hat Log Reaper in this browser')
        //        alert('The File API is not available, you cannot use Red Hat Log Reaper in this browser');
        //    }
    body
        div#chrometwo
            //div#chromed-app-content.content-area
            div#chromed-app-content.content-area
                div#fileupload
                div#activeViewModel

        script(type="text/javascript").
            breadcrumbs = [['Labs', '/labs/'], ['Log Reaper', '/labs/logreaper/']];

            chrometwo_require(['jquery'], function (jq) {
                require.s.contexts._.config.urlArgs = "bust=#{uid}";

                var script = document.createElement('script');
                script.type = 'text/javascript';
                script.src = '/labs/logreaper/dist/main.js' + '?bust=' + #{uid};
                document.body.appendChild(script);

            });
